//nav bar desgining
nav {
    margin-left: 340px;
    ul {
        list-style-type: none;
        li {
            a {
                float: left;
                color: #004A93;
                align-items: center;
                margin-top: -40px;
                text-decoration: none;
                transform: rotate(30deg);
                font-weight: bold;
                height: 200px;
                width: 100px;
                color: #004A93;
                margin-left: 20px;
                transition: 0.3s;
                font-family: "Century Gothic", sans-serif;
            }
            //hover effect on the normal nav
            a:hover {
                background-color: #004A93;
                color: #fff;
            }
            //active for assea
            .active {
                background-color: #004A93;
                color: #fff;
            }
        }
    }
}

//styling the text in "<a>" tag
.tilt {
    margin-top: 65px;
    transform: rotate(-30deg);
    text-align: center;
}

//hover effect
.tilt:hover {
    color: #fff;
}

//responsive nav bar desgine
#responsive_nav {
    width: 770px;
    margin-left: 100px;
    background-color: #004A93;
    margin-left: 170px;
    display: none;
}